language: php

dist: trusty

sudo: false

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - nightly

matrix:
  allow_failures:
  - php: nightly

before_script:
  - composer update --no-interaction

script:
  - vendor/bin/phpunit --stop-on-failure

